/* Fonts begin */
@font-face {
    font-family: 'Value Sans Pro';
    src: url('ValueSansPro-Regular.eot');
    src: 
        url('./src/fonts/ValueSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('./src/fonts/ValueSansPro-Regular.woff2') format('woff2'),
        url('./src/fonts/ValueSansPro-Regular.woff') format('woff'),
        url('./src/fonts/ValueSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Value Sans Pro';
    src: url('ValueSansPro-MediumItalic.eot');
    src: 
        url('./src/fonts/ValueSansPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('./src/fonts/ValueSansPro-MediumItalic.woff2') format('woff2'),
        url('./src/fonts/ValueSansPro-MediumItalic.woff') format('woff'),
        url('./src/fonts/ValueSansPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Value Sans Pro';
    src: url('ValueSansPro-Italic.eot');
    src: 
        url('./src/fonts/ValueSansPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('./src/fonts/ValueSansPro-Italic.woff2') format('woff2'),
        url('./src/fonts/ValueSansPro-Italic.woff') format('woff'),
        url('./src/fonts/ValueSansPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Value Sans Pro';
    src: url('ValueSansPro-Bold.eot');
    src: 
        url('./src/fonts/ValueSansPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('./src/fonts/ValueSansPro-Bold.woff2') format('woff2'),
        url('./src/fonts/ValueSansPro-Bold.woff') format('woff'),
        url('./src/fonts/ValueSansPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Value Sans Pro';
    src: url('ValueSansPro-BlackItalic.eot');
    src: 
        url('./src/fonts/ValueSansPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('./src/fonts/ValueSansPro-BlackItalic.woff2') format('woff2'),
        url('./src/fonts/ValueSansPro-BlackItalic.woff') format('woff'),
        url('./src/fonts/ValueSansPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Value Sans Pro';
    src: url('ValueSansPro-Black.eot');
    src: 
        url('./src/fonts/ValueSansPro-Black.eot?#iefix') format('embedded-opentype'),
        url('./src/fonts/ValueSansPro-Black.woff2') format('woff2'),
        url('./src/fonts/ValueSansPro-Black.woff') format('woff'),
        url('./src/fonts/ValueSansPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Value Sans Pro';
    src: url('ValueSansPro-Medium.eot');
    src: 
        url('./src/fonts/ValueSansPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('./src/fonts/ValueSansPro-Medium.woff2') format('woff2'),
        url('./src/fonts/ValueSansPro-Medium.woff') format('woff'),
        url('./src/fonts/ValueSansPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Value Sans Pro';
    src: url('ValueSansPro-BoldItalic.eot');
    src: 
        url('./src/fonts/ValueSansPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./src/fonts/ValueSansPro-BoldItalic.woff2') format('woff2'),
        url('./src/fonts/ValueSansPro-BoldItalic.woff') format('woff'),
        url('./src/fonts/ValueSansPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Rimma_sans';
    src: url('./src/fonts/rimma-sans-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Fonts end */